body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

#app .messages,
#conversation .display {
  min-height: 200px;
  border: solid 1px #ccc;
  margin: 15px 2% 15px 0;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.messages .comment {
  margin: 1em;
}
.messages .user {
  display: inline-block;
  margin-right: 0.5em;
  font-weight: bold;
}
.messages .user:after {
  content: ": ";
}
.messages .copy {
  display: inline-block;
}
